# Default owner for everything in the repo
*                       @HarishanA21

# Backend
/backend/               @HarishanA21

# Frontend
/ui/                    @HarishanA21

# CI / repo config
/.github/               @HarishanA21
